/* src/App.css */
.responsive-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.9rem;
  }
  
  .responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.7) translateY(8%);
    transition: transform 0.3s ease-in-out;
  }
  
  @media (min-width: 768px) {
    .responsive-container {
      aspect-ratio: 688 / 490;
    }
  
    .responsive-image {
      transform: scale(1) translateY(-10%);
    }
  }
  
  @media (min-width: 1024px) {
    .responsive-container {
      aspect-ratio: 1024 / 490;
    }
  }
  